.contentDesktopPageScroll {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.contentDesktopContentScroll {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    /* scrollbar-width: none;
    scrollbar-color: transparent transparent; */
}

/* .contentDesktopContentScroll::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

.contentDesktopContentScroll::-webkit-scrollbar-thumb {
    display: none;
    background-color: transparent;
}

.contentDesktopContentScroll::-webkit-scrollbar-track {
    display: none;
    background-color: transparent;
} */

.contentMobilePortrait {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    /* background-color: aqua; */
}

.contentMobileLandscapeCenter {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--measure_margin_left_mobile_l_center);
    width: 75%;
}

.contentMobileLandscapeRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: var(--measure_margin_right_mobile_l_right);
}

.contentMobileLandscapeLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--measure_margin_left_mobile_l_left);
}