.containerFooterDesktop {
    width: 100%;
    height: var(--measure_footer_height_mobile_landscape);
    background-color: var(--col_background_dark);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 60px;
    flex-grow: 1;
}

.containerFooterMobilePortrait {
    background-color: var(--col_background_dark);
    height: var(--measure_footer_height_mobile_portrait);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 60px;
    flex-grow: 1;
}

.containerFooterMobileLandscapeCenter {
    background-color: var(--col_background_dark);
    height: var(--measure_footer_height_mobile_landscape);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 60px;
    flex-grow: 1;

}

.icons {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.icons>span {
    padding-left: 10px;
}

.copyright {
    font-family: var(--fontGtAmericaStandardThin);
    font-size: 10px;
    padding-top: 10px;
}