.layoutDesktop {
    width: 100%;
    background-color: var(--col_background_dark);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 40px;
    flex-grow: 1;
}

.layoutMobilePortrait {
    background-color: var(--col_background_dark);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 40px;
    flex-grow: 1;
}

.layoutMobileLandscapeCenter {
    background-color: var(--col_background_dark);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-bottom: 40px;

}

.icons {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.icons>span {
    padding-left: 10px;
}

.copyright {
    font-family: var(--fontGtAmericaStandardThin);
    font-size: 10px;
    padding-top: 10px;
}