.containerHeaderDesktop {
    position: fixed;
    height: var(--measure_header_height_desktop);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--col_background_dark);
    opacity: 0.4;
    z-index: 2;
}

.containerHeaderMobilePortrait {
    position: fixed;
    height: var(--measure_header_height_mobile_portrait);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: var(--col_background_dark);
    align-items: center;
    opacity: 0.7;
    z-index: 2;
}


.containerHeaderMobileLandscapeCenter {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: var(--measure_header_height_mobile_landscape);
    top: 0;
    left: var(--measure_margin_left_mobile_l_center);
    width: 75%;
    background-color: var(--col_background_dark);
    opacity: 0.7;
    z-index: 2;
}
.containerHeaderMobileLandscapeLeft {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: var(--measure_header_height_mobile_landscape);
    top: 0;
    left: 0;
    width: var(--measure_header_width_mobile_l_left);
    background-color: var(--col_background_dark);
    opacity: 0.7;
}
.containerHeaderMobileLandscapeRight {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: var(--measure_header_height_mobile_landscape);
    top: 0;
    right: 0;
    width: var(--measure_header_width_mobile_l_right);
    background-color: var(--col_background_dark);
    opacity: 0.7;
}



.toggleSideIcon {
    align-self: flex-start;
    background: none;
    border: none;
    padding: 0;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: rgb(187, 164, 102);
}