.mainTitle {
  font-family: var(--fontGtAmericaStandardBold);
  font-size: 8rem;
  letter-spacing: -0.05em;
  line-height: 0.8;
}

.title {
  font-family: var(--fontGtAmericaStandardBold);
  font-size: 4rem;
  line-height: 0.8;
}

.text {
  font-family: var(--fontGtAmericaStandardRegular);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  margin: 2rem 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  margin: 0.5rem 0;
  font-family: var(--fontGtAmericaStandardThin);
}
