:root {

    /* colors */
    --col_primary-color: #333;
    --col_secondary-color: #666;
    --col_accent-color: #f90;
    --col_text-color: #333;
    --col_background-light: #f2f2f2;
    --col_background-dark: #202020;

    --col_menu_icons: #e7c03e;
    --col_menu_icons_hover: #ccbc87;

    /* Typography */
    --typo_body: var(--fontGtAmericaStandardRegular);
    --typo_body-bold: var(--fontGtAmericaStandardBold);
    --typo_body-thin: var(--fontGtAmericaStandardThin);
    --typo_heading: var(--fontGtAmericaStandardBlack);

    /* paragraphs */
    --par-copy: var(--typo_body), 16px, 1.5;

    /* measures */
    --measure-header-height: 320px;
    --measure-header-width_mobile_l: 240px;

}